@model OgrenciNotSistemiMvc.Models.EntityFramework.tblOgrenciler
@{
    ViewBag.Title = "OgrenciListesiGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öğrenci Listesini Güncellemek İçin Formu Uygun Bir Şekilde Doldurunuz.</h2>

@using (Html.BeginForm("Guncelle", "OgrenciListesi", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.OgrenciAd)
        @Html.TextBoxFor(m => m.OgrenciAd, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OgrenciSoyad)
        @Html.TextBoxFor(m => m.OgrenciSoyad, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OgrenciCinsiyet)
        @Html.TextBoxFor(m => m.OgrenciCinsiyet, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OgrenciFotograf)
        @Html.TextBoxFor(m => m.OgrenciFotograf, new { @class = "form-control" })
    </div>

    

    @Html.HiddenFor(m => m.OgrenciId)
    <div style="margin-top: 15px">
        <button class="btn btn-warning">Güncelle</button>
    </div>
}