@using OgrenciNotSistemiMvc.Models.EntityFramework
@model List<tblNotlar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SINAV NOTLARI</h1>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>NOT ID</th>
            <th>ÖĞRENCİ ID</th>
            <th>SINAV - 1</th>
            <th>SINAV - 2</th>
            <th>SINAV - 3</th>
            <th>PROJE NOTU</th>
            <th>ORTALAMA</th>
            <th>DURUM</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>
    @foreach (var snv in Model)
    {
        <tr>
            <td>@snv.NotId</td>
            <td>@snv.OgrenciId</td>
            <td>@snv.Sinav1</td>
            <td>@snv.Sinav2</td>
            <td>@snv.Sinav3</td>
            <td>@snv.Proje</td>
            <td>@snv.Ortalama</td>
            <td>@snv.Durum</td>
            <td><a href="sinavnotlari/guncelle/@snv.NotId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="yenisinavekle" class="btn btn-warning">Yeni Sınav Notu Eklemek İçin Tıklayınız</a>

